body {
  margin: 0; // 1
  font-family: var(--#{$variable-prefix}body-font-family);
  @include font-size(var(--#{$variable-prefix}body-font-size));
  font-weight: var(--#{$variable-prefix}body-font-weight);
  line-height: var(--#{$variable-prefix}body-line-height);
  color: var(--#{$variable-prefix}body-color);
  text-align: var(--#{$variable-prefix}body-text-align);
  background-color: var(--#{$variable-prefix}body-bg); // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4
}


#hideMe {
    -moz-animation: cssAnimation 200ms ease-in 5s both;
    /* Firefox */
    -webkit-animation: cssAnimation 200ms ease-in 5s both;
    /* Safari and Chrome */
    -o-animation: cssAnimation 200ms ease-in 5s both;
    /* Opera */
    animation: cssAnimation 200ms ease-in 5s both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes cssAnimation{
    from {
        0%   {opacity: 1;}

        width:100;
        height:100;
        margin:50;
        padding:10;
        border:3;
    }
    to {
        80% {opacity: 1;}
        100% {opacity: 0;}
        width:0;
        height:0;
        margin:0;
        padding:0;
        border:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation{
    from {
        0%   {opacity: 1;}

        width:100;
        height:100;
        margin:50;
        padding:10;
        border:3;
    }
    to {
        80% {opacity: 1;}
        100% {opacity: 0;}

        width:0;
        height:0;
        margin:0;
        padding:0;
        border:0;
        visibility:hidden;
    }
}

