{% extends "admin/templates/admin_base.html" %}

{% block title %}
Delivery Counting
{% endblock %}
{% block content %}
<h2 class => Delivery counting</h2>

<div class="container">
    <div class="row">
        <div class="col">

            <form action="">
                <div>
                    <label for="title">Delivery counting</label>
                    <input type="text" name="title" placeholder="Enter info...">
                    <br>
                    <button type="submit">Add</button>

                </div>
            </form>
        </div>

    </div>

</div>


{% endblock %}