{% extends "admin/templates/admin_base.html" %}

{%block title %} Инвентаризация {% endblock %}

{%block content %}
<div class="shadow-sm p-3 mb-5 bg-body rounded">

    <div>
        <center>

            <form action="" method="post">
                <p><h4>Название продукта:</h4></p>
                <p><i class="bi bi-yin-yang">
                </i><input list="ice-cream-flavors" id="ice-cream-choice" type="text" name="nm" required="required"/>
                </p>
                <p><h4>Вес в граммах:</h4>
                <p>
                <p>
                    <h8><em>(можно написать много позиций через пробел или через знак '+')</em></h8>
                </p>
                <p><i class="bi bi-heart-fill">
                    <input type="text" name="wt" required="required"/></i></p>
                <input class="btn btn-outline-dark px-3" type="submit" name="save" value="Сохранить">
                <input class="btn btn-outline-dark ml-3 px-4" type="submit" name="cancel" value="Отмена">
                <button class="btn btn-outline-success"
                        onclick="window.open('https://data.heroku.com/dataclips/cnmkkemnkztlaqxpyykjtgdygzxm','_blank')">
                    Вся таблица
                </button>

                <!--    <h3 align="center"><a href="/">Stumble</a></h3>-->

    </div>

    <datalist id="ice-cream-flavors">
        <option value="Шоколад">
        <option value="Кокос">
        <option value="Банан">
        <option value="Клубника">
        <option value="Ваниль">
        <option value="Мука">
        <option value="Масло">
        <option value="Яблоко">
        <option value="Огурцы">
        <option value="Помидоры">
    </datalist>


    <script src="{{ url_for ('static', filename='js/myfunction.js') }}"></script>
    </form>

    </center>
</div>

</div>
{% endblock %}