{% extends "admin/templates/admin_base.html" %}
{% import "macros/input_macros.html" as im %}
{% block title %} Jinja {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Jinja templates</h1>
            <hr>

            <h4>Variables</h4>
            <hr>
            <p>Name: {{my_name}}</p>
             <h4>Looping</h4>
            <hr>
            <ul>
                {%for lang in langs%}
                <li>{{ lang }}</li>
                {%endfor%}
            </ul>
             <h4>Looping with index</h4>
            <hr>
            <ul>
                {%for lang in langs%}
                <li>{{ loop.index }}: {{ lang }}</li>
                {%endfor%}
            </ul>

            <h4>Looping a dict</h4>
            <hr>
            <ul>
                {%for s, h  in friends.items() %}
                <li>{{ s }}: {{ h }}</li>
                {%endfor%}
            </ul>

            <h4>Looping a dict keys</h4>
            <hr>
            <ul>
                {% for h  in friends.keys() %}
                <li>{{ h }}</li>
                {%endfor%}
            </ul>

            <h4>Access list member</h4>
            <hr>
            <p>{{ langs[0] }}</p>

            <h4>Access dict member</h4>
            <hr>
            <p>{{ friends["Anna"] }}</p>

            <h4>Access class attributes</h4>
            <hr>
            <p>{{ my_remote.name }}</p>

            <h4>Unpack variables</h4>
            <hr>
            {% set a, b = colours %}
            <p>{{a}}</p>
            <p>{{b}}</p>

            <h4>Call a functionn</h4>
            <hr>
            <p>{{ repeat("FLASK IS AWSOME ", 10 ) }}</p>

            <h4>Call a class method</h4>
            <hr>
            <p>{{ my_remote.clone() }}</p>

            <h4>Conditionals</h4>
            <hr>
            {% if cool %}
                <p>You are {{ cool }}</p>
            {% endif %}

            <h4>Comparisons</h4>
            <hr>
            {% if age < 18 %}
                <p>No entry</p>
            {% elif age <26 %}
            <p>Nearly old enough</p>
            {% else %}
            <p>You may enter</p>
            {% endif %}

            <h4>Math</h4>
            <hr>
            <p>{{ age / 2 }}</p>

            <h4>Template filters</h4>
            <hr>
            <p>{{ langs|length }}</p>
            <p>{{ my_name|reverse }}</p>
            <p>{{ my_name|upper }}</p>
            <p>{{ my_name|lower }}</p>

            <h4>Template filters - join</h4>
            <hr>
            <p>{{ langs|join(", ") }}</p>

            <h4>Custom filters</h4>
            <hr>
            <p>{{ date|clean_date }}</p>

            <h4>Escaping</h4>
            <hr>
            <p>{{ date|clean_date }}</p>

            <h4>Custom filters</h4>
            <hr>
            {{ my_html|safe }}

            <h4>Suspicious</h4>
            <hr>
            {{ suspicious }}

            <h4>Macros</h4>
            <hr>


            {{ im.input(label="Your name", name="name", id="name", placeholder="Please enter your name") }}

            {{ im.input(label="Age", type="number", name="age", id="age", placeholder="Please enter your age") }}

            {{ im.input(label="password", type="password", name="password", id="password", placeholder="Please enter your password") }}


        </div>
    </div>
</div>

{% endblock %}