{% extends "admin/templates/admin_base.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %} Jinja {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Цитаты</h1>
            <hr>

            <h4>Дао Дэ Цзин</h4>
            <hr>
            <div x-data="{ open: false }">
                <div x-init="mylist1 = random.choice(mylist)">
            <button align="center"   class="btn btn-outline-dark ml-3 px-3 " @click="open = ! open ">Toggle</button>
            <div x-show="open"  @click.outside="open = false" >{{ mylist1 }}</div>
                </div>

            <h3 align="center"><a class="btn btn-outline-dark ml-3 px-3 " href="/random_quote">Обновить</a></h3>


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
    </div>
</div>




{% endblock %}